{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        
        <tbody>
                {% for lists in history %}
                <tr>
                    
                        {% for list in lists %}
                        <td>{{ list }}</td>
                        {% endfor %}
                    
                </tr>
                {% endfor %}
            
        </tbody>
        
    </table>
{% endblock %}